*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 120px;
    min-width: 120px;
    padding: 2.5px;
    border-radius: 4px;
}

#display {
    height: 25px;
    width: 117px;
    background-color: lightgray;
    border-radius: 4px;
    margin: 2.5px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#text {
    margin-right: 3px;
}

#pad {
    display: flex;
}

#right {
    display: flex;
    flex-direction: column;
}

#left {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: 23px;
    width: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #746c6c;
    border-radius: 4px;
    margin: 2.5px;
    font-weight: bold;
    transition: 0.3s;
    background-color: lightgray;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.function {
    background-color: #e67b17;
}

img {
    height: 23px;
    width: 23px;
}

#zero {
    width: 53px;
}

.btn:hover {
    opacity: 0.6;
}

#equals {
    font-size: 28px;
    background-color: rgb(34, 170, 255);
}

#clear {
    background-color: gray;
}

.click {
    border-color: black;
}