body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 120px;
    min-width: 120px;
    padding: 2.5px;
    border-radius: 4px;
}

#display {
    height: 25px;
    width: 117px;
    background-color: lightgray;
    border-radius: 4px;
    margin: 2.5px;
}

#pad {
    display: flex;
}

#right {
    display: flex;
    flex-direction: column;
}

#left {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: 23px;
    width: 23px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #746c6c;
    border-radius: 4px;
    margin: 2.5px;
    font-weight: bold;
}

img {
    height: 23px;
    width: 23px;
}

#zero {
    width: 53px;
}

